<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
    font-weight: 700;
    line-height: 58px;
    text-align: center;margin-left: 50px;">Storage</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" (click)="logout()" color="secondary">
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar slot="top" style="background-color: #a0a6b9;">
      <super-tab-button style="padding-bottom: 47px;">
        <ion-label style="padding-top: 50px; color: white;font-size: 12.2px;">Mode online</ion-label>
      </super-tab-button>
      <super-tab-button style="padding-bottom: 47px;">
        <ion-label style="padding-top: 50px;color: white;font-size: 12.2px;">Mode offline</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container>
      <super-tab>
        <ion-card>
          <ion-card-content>
            <div class="banner">
            </div>
          </ion-card-content>


          <div class="row">
            <div class="col-8" style="padding-left: 31px;">
              <label>Name test</label><br>
              <label>30-10-2020</label>
            </div>
            <div class="col-4">
              <ion-buttons slot="secondary" style="float: right;margin: 7px;margin-right: 12px;">
                <ion-button fill="solid" style="font-size: 18px;" color="light" style="margin-right: 11px;"
                  (click)="GoesTOChangeInfoSite()">
                  <ion-icon slot="end" name="create" color="secondary" style="margin-left: 2px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
                <ion-button fill="solid" style="font-size: 18px;" color="light">
                  <ion-icon slot="end" name="trash" color="secondary" style="margin-left: 0px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
          <ion-row class="cardfooter">
            <button type="button " class="btn btn-block" (click)="presentConfirm()" style="background-color:#25368c ;">
              <ion-label style="font-size: 15px;">Check Site</ion-label>
            </button>
          </ion-row>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <div class="banner">
            </div>
          </ion-card-content>


          <div class="row">
            <div class="col-8" style="padding-left: 31px;">
              <label>Name test</label><br>
              <label>30-10-2020</label>
            </div>
            <div class="col-4">
              <ion-buttons slot="secondary" style="float: right;margin: 7px;margin-right: 12px;">
                <ion-button fill="solid" style="font-size: 18px;" color="light" style="margin-right: 11px;"
                  (click)="GoesTOChangeInfoSite()">
                  <ion-icon slot="end" name="create" color="secondary" style="margin-left: 2px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
                <ion-button fill="solid" style="font-size: 18px;" color="light">
                  <ion-icon slot="end" name="trash" color="secondary" style="margin-left: 0px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
          <ion-row class="cardfooter">
            <button type="button " class="btn btn-block" (click)="presentConfirm()" style="background-color:#25368c ;">
              <ion-label style="font-size: 15px;">Check Site</ion-label>
            </button>
          </ion-row>
        </ion-card>


      </super-tab>
      <super-tab>
        <ion-card>
          <ion-card-content>
            <div class="banner">
            </div>
          </ion-card-content>


          <div class="row">
            <div class="col-8" style="padding-left: 31px;">
              <label>Name test</label><br>
              <label>30-10-2020</label>
            </div>
            <div class="col-4">
              <ion-buttons slot="secondary" style="float: right;margin: 7px;margin-right: 12px;">
                <ion-button fill="solid" style="font-size: 18px;" color="light" style="margin-right: 11px;"
                  (click)="GoesTOChangeInfoSite()">
                  <ion-icon slot="end" name="create" color="secondary" style="margin-left: 2px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
                <ion-button fill="solid" style="font-size: 18px;" color="light">
                  <ion-icon slot="end" name="trash" color="secondary" style="margin-left: 0px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
          <ion-row class="cardfooter">
            <button type="button " class="btn btn-block" (click)="presentConfirm()" style="background-color:#25368c ;">
              <ion-label style="font-size: 15px;">Check Site</ion-label>
            </button>
          </ion-row>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <div class="banner">
            </div>
          </ion-card-content>


          <div class="row">
            <div class="col-8" style="padding-left: 31px;">
              <label>Name test</label><br>
              <label>30-10-2020</label>
            </div>
            <div class="col-4">
              <ion-buttons slot="secondary" style="float: right;margin: 7px;margin-right: 12px;">
                <ion-button fill="solid" style="font-size: 18px;" color="light" style="margin-right: 11px;"
                  (click)="GoesTOChangeInfoSite()">
                  <ion-icon slot="end" name="create" color="secondary" style="margin-left: 2px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
                <ion-button fill="solid" style="font-size: 18px;" color="light">
                  <ion-icon slot="end" name="trash" color="secondary" style="margin-left: 0px;font-size: 26px;">
                  </ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
          <ion-row class="cardfooter">
            <button type="button " class="btn btn-block" (click)="presentConfirm()" style="background-color:#25368c ;">
              <ion-label style="font-size: 15px;">Check Site</ion-label>
            </button>
          </ion-row>
        </ion-card>


      </super-tab>
    </super-tabs-container>
  </super-tabs>


</ion-content>
<ion-footer no-padding no-marging>

  <ion-segment no-padding no-marging style="font-size: 10px;"
    style="background-color: #25368c;border-top-left-radius: 20px; " [(ngModel)]="segment">
    <ion-segment-button style="min-width: 60px;" value="accueil" [routerLink]="'/home'" routerDirection="root">
      <ion-icon name="home" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="storage" [routerLink]="'/storage'" routerDirection="root">
      <ion-icon name="archive" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Storage</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="audit" [routerLink]="'/audit'" routerDirection="root">
      <ion-icon name="newspaper" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Audit</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="noeud" [routerLink]="'/noeud'" routerDirection="root">
      <ion-icon name="radio" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Noeud</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-footer>