<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
    font-weight: 700;
    line-height: 58px;
    text-align: center;">Audit</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" [routerLink]="'/home'" routerDirection="forward"
        color="secondary">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="row" style="border-bottom: 1px groove;">
        <div class="col-2">
          <ion-icon name="settings" style="font-size: 24px;color: #25368c;"></ion-icon>

        </div>
        <div class="col-8" style="text-align: center;">
          <ion-label> Noeud Audit (TO DO)</ion-label>
        </div>
        <div class="col-2">
          <ion-badge color="secondary" style="float: right;font-size: 18px;">9</ion-badge>
        </div>

      </div>
      <div class="row" style="margin-top: 24px; place-content: center;">
        <ion-label>More Info</ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;margin-top: -8px;margin-left: 5px;"></ion-icon>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="row" style="border-bottom: 1px groove;">
        <div class="col-2">
          <ion-icon name="archive" style="font-size: 24px;color: #25368c;"></ion-icon>

        </div>
        <div class="col-8" style="text-align: center;">
          <ion-label>Local Storage</ion-label>
        </div>
        <div class="col-2">
          <ion-badge color="secondary" style="float: right;font-size: 18px;">11</ion-badge>
        </div>

      </div>
      <div class="row" style="margin-top: 24px; place-content: center;">
        <ion-label>More Info</ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;margin-top: -8px;margin-left: 5px;"></ion-icon>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>