<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
    font-weight: 700;
    line-height: 58px;
    text-align: center;margin-left: 50px;">Audit</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" (click)="logout()" color="secondary">
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer no-padding no-marging>

  <ion-segment no-padding no-marging style="font-size: 10px;"
    style="background-color: #25368c;border-top-left-radius: 20px; " [(ngModel)]="segment">
    <ion-segment-button style="min-width: 60px;" value="accueil" [routerLink]="'/home'" routerDirection="root">
      <ion-icon name="home" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="storage" [routerLink]="'/storage'" routerDirection="root">
      <ion-icon name="archive" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Storage</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="audit" [routerLink]="'/audit'" routerDirection="root">
      <ion-icon name="newspaper" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Audit</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="noeud" [routerLink]="'/noeud'" routerDirection="root">
      <ion-icon name="radio" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Noeud</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-footer>