.banner {
    height: 265px;
    position: relative;
    z-index: 1;
    background: url('../../assets/icon/home/header.png') center center no-repeat;
    background-size: cover;
  }

  .profile {
    position: relative;
    bottom: -81%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  ion-content{
    --background: ghostwhite;
  }
  .content-profile {
    position: relative;
  }
  
  .profile-img {
    width: 125px;
  }
 .row ion-label{
    font-size: 15px;
  }

  ion-segment-button ion-label {
    color: white;
    font-family: "Roboto Condensed";
    font-weight: 700;
    line-height: 3px;
    text-align: center;
    font-size: 11px;
  }