<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
    font-weight: 700;
    line-height: 58px;
    text-align: center;margin-left: 50px;">Google Maps</ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" (click)="logout()" color="secondary">
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="mapOptions()">
      <ion-icon name="map"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>