<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
        font-weight: 700;
        line-height: 58px;
        text-align: center; margin-left: 50px;">
      Accueil
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" (click)="logout()" color="secondary">
        <ion-icon slot="start" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <!--image profil-->
    <div class="profile">
      <div class="content-profile">
        <img src="{{env}}{{User?.path || 'empty.png'}}"
          class="profile-img shadow-lg img-fluid z-depth-1 rounded-circle">
      </div>
    </div>
  </div>
  <ion-card style="margin-top: 64px;">
    <ion-card-content>
      <div class="row">
        <div class="col-3">
          <ion-icon name="settings" style="font-size: 24px;color: #25368c;"></ion-icon>

        </div>
        <div class="col-6" style="text-align: center;">
          <ion-label style="font-size: 17px;color: black;"> Site Audit (TO DO)</ion-label>
        </div>
        <div class="col-3">

        </div>

      </div>
      <div class="row" style="margin-top: 24px; place-content: center;">
        <ion-label style="font-size: 17px;color: black;">More Info</ion-label>
        <ion-icon name="arrow-forward" style="font-size: 18px;margin-top: 4px;margin-left: 4px;"></ion-icon>
      </div>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <div class="row">
        <div class="col-3">
          <ion-icon name="archive" style="font-size: 24px;color: #25368c;"></ion-icon>

        </div>
        <div class="col-6" style="text-align: center;">
          <ion-label style="font-size: 17px;color: black;">Local Storage</ion-label>
        </div>
        <div class="col-3">

        </div>

      </div>
      <div class="row" style="margin-top: 24px; place-content: center;">
        <ion-label style="font-size: 17px;color: black;">More Info</ion-label>
        <ion-icon name="arrow-forward" style="font-size: 18px;margin-top: 4px;margin-left: 4px;"></ion-icon>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-padding no-marging>

  <ion-segment no-padding no-marging style="font-size: 10px;"
    style="background-color: #25368c;border-top-left-radius: 20px; " [(ngModel)]="segment">
    <ion-segment-button style="min-width: 60px;" value="accueil" [routerLink]="'/home'" routerDirection="root">
      <ion-icon name="home" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="storage" [routerLink]="'/storage'" routerDirection="root">
      <ion-icon name="archive" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Storage</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="audit" [routerLink]="'/audit'" routerDirection="root">
      <ion-icon name="newspaper" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Audit</ion-label>
    </ion-segment-button>

    <ion-segment-button style="min-width: 60px;" value="noeud" [routerLink]="'/noeud'" routerDirection="root">
      <ion-icon name="radio" style="margin-bottom: 16px;color: white;"></ion-icon>
      <ion-label>Noeud</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-footer>